{% block title %}
Create an Event
{% endblock %}
{% block content %}
<div><form>
    <form class="form-horizontal" action="/Events/create" method="POST">
        Event Name:<br>
        <input type="string" name="eventname"><br> 
        Event Description:<br>
        <input type="string" name="eventdescription"><br>
        Event Date:<br>
        <input type="datetime" name="eventdatetime"><br>
    </form>
     <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            type="submit">
            Submit
        </button>
    </p>
</div>
{%endblock%}